kornia>=0.7.0
nvitop>=0.3.6.2
monai>=1.3.0
rich>=10.7.0
nibabel>=3.2.1
einops>=0.3.0
mlflow>=1.20.1
timm>=0.9.0
scikit-image
mmcv>=2.0.0
scipy
pandas
numpy
matplotlib
jsonargparse[signatures]
pyarrow
fastparquet
python-snappy
lightning>=2.0.0
torch>=2.0.0